@charset "utf-8";

/* 유튜브 웹스토리보이 참고 */

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

#wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

#header{
    width: 1200px;
    height: 100px;
    display: flex;
    background-color: rgb(6, 6, 58);
}

#header .logo{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    text-align: center;
}

#header .nav{
    width: 80%;
    height: 100px;
    z-index: 1000;
}

.nav > ul{
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 20px;
}

.nav > ul > li{
    position: relative;
}

.nav > ul > li > a{
    display: block;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.nav > ul > li > a:hover{
    color: #ffffff;
}

.nav > ul > li > ul{
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    width: 100%;
    text-align: center;
}

.nav > ul > li > ul > li > a{
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.nav > ul > li > ul > li > a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

#slider{
    width: 1200px;
    height: 300px;
}

.sliderwrap{
    position: relative;
}

.sliderwrap > div{
    display: none;
}

.sliderwrap > div:first-child{
    display: block;
}

.sliding{
    position: absolute;
    left: 0;
    top: 0;
    width: 1200px;
    height: 300px;
}

.sliding img{
    width: 1200px;
    height: 300px;
    vertical-align: top;
}

.sliding span{
    position: absolute;
    left: 20%;
    top: 70%;
    transform: translate(-50%,-50%);
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#content{
    width: 1200px;
    height: 200px;
    display: flex;
}

#content .cont1{
    width: 33.333%;
    height: 200px;
    background-color: #d2e0e1;
}

.tab-menu{
    padding: 20px;
}

.tab-btn ul{
    display: flex;
}

.tab-btn ul li.active a{
    text-decoration: underline;
    background-color: rgb(148, 156, 167);
}

.tab-btn ul li a{
    display: block;
    padding: 10px;
    background-color: rgb(184, 190, 195);
}

.tab-cont{
    padding: 10px;
    background-color: rgb(184, 190, 195);
}

.tab-cont .notice{
    line-height: 1.6;
}

.notice ul li{
    border-bottom: 1px solid #000;
}

.notice ul li span{
    margin-left: 43%;
}

.gallery{
    line-height: 1.8;
    text-align: center;
    display: flex;
}

.gallery div a img{
    width: 100px;
    height: 70px;
}

#content .cont2{
    width: 33.333%;
    height: 200px;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
}

.banner span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#content .cont3{
    width: 33.333%;
    height: 200px;
}

.shortcut{
    position: relative;
    width: 100%;
    height: 100%;
}

.shortcut img{
    width: 100%;
    height: 100%;
}

.shortcut span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#footer{
    width: 1200px;
    height: 100px;
    display: flex;
    background-color: rgb(6, 6, 58);
}

#footer .foot1{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot1 h1 a img{
    width: 150px;
}

#footer .foot2{
    width: 80%;
    height: 100px;
    color: #fff;
}

.foot2 .foot2_1{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot2 .foot2_2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap{
    position: relative;
}

.popup-review{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background-color: #d2e0e1;
    border: 2px solid #000;
    display: none;
}

.popup-title{
    text-align: center;
    padding: 10px;
}

.popup-title p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.popup-close{
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    padding: 20px 20px;
    background-color: rgb(181, 181, 181);
}
